<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("HeadPage")

<body class="profile-page sidebar-collapse">
    @await Html.PartialAsync("NavPage")
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("FooterPage")


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>